---
import ToggleTheme from '~/components/common/ToggleTheme.astro';
---

<div
  style={{
    cursor: 'pointer',
    zIndex: 1030,
    position: 'fixed',
    top: 0,
    right: 0,
    left: 0,
    marginTop: '3.6rem',
  }}
>
  <div
    class="w-full  bg-gray-50 text-gray-500 body-font mb-0 shadow-sm "
  >
    <a href="mailto:info@electricalsurrey.com" class="hover:underline"> Email info@electricalsurrey.com</a>
    <br/>
    <a href="tel:01932 886593" class="hover:underline"> Call 01932 886593</a>
    <div class="float-right px-4  sm:inline-flex ml-auto md:ml-0 mr-4 md:mr-0 cursor-pointer">
      <ToggleTheme />
    </div>
  </div>
</div>
