---
---

<div
  class="hidden md:block bg-blue-900 dark:bg-slate-800 dark:border-slate-800 dark:text-slate-400 border-b border-blue-900 text-sm px-3 py-2 text-gray-200 overflow-hidden whitespace-nowrap text-ellipsis"
>
  <span class="text-xs py-0.5 px-1 bg-primary dark:bg-slate-700 dark:text-slate-300 font-semibold">Email</span>
  <a
    href="https://astro.build/blog/astro-2/"
    class="hover:underline text-gray-200 dark:text-slate-400"
    >info@electricalsurrey.com</a
  >
  <a
    class="float-right"
    title="Call us"
    href="tel:01932 886593"
  >
  <span class="text-xs py-0.5 px-1 bg-primary dark:bg-slate-700 dark:text-slate-300 font-semibold">Call</span>
  01932 886593
  </a>
</div>
