---
import { Icon } from 'astro-icon';

interface Item {
  question: string;
  answer: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  highlight?: string;
  items: Array<Array<Item>>;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  highlight,
  items = [],
} = Astro.props;
---

<div class="px-0 py-0 mx-auto max-w-6xl lg:py-0">
  <div class="max-w-7xl sm:mx-auto">
    <div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
      {
        items &&
          items.map((subitems) => (
            <div class="space-y-8">
              {subitems.map(({ question, answer }) => (
                <div>
                  <h3 class="mb-4 text-xl font-bold">
                    {question}
                  </h3>
                </div>
              ))}
            </div>
          ))
      }
    </div>
  </div>
</div>
