---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Card from '~/components/widgets/Card.astro';
import CarouselWithButtons from '~/components/widgets/CarouselWithButtons.astro';
const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{ src: import('~/assets/images/logo.webp'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Electrical specialists <span class="hidden lg:inline"><br class="2xl:hidden"/></span>
      serving surrey and surrounding areas.
    </Fragment>

  </Hero>

  <Features
    highlight=""
    title="Full electrical service for all domestic and commercial properties.    "
    items={[
      [
        {
          title: 'Our qualified engineers work to regulation standards in design, installation and NICEIC Certification.',
          description:
            'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
          icon: 'tabler:bulb',
        },
      ],
      [
        {
          title: 'We believe customer satisfaction and their recommendations to others is key to our business',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:bulb',
        },
      ],
      [
        {
          title: 'We are open and transparent with our clients and we take great pride in the standard of our work.',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:bulb',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    highlight=""
    title="Full domestic electrical services "
    items={[
      {
        title: 'Domestic rewires ',
      },
      {
        title: 'Consumer unit chargers',
      },
      {
        title: 'Periodic tests and inspections',
      },

      {
        title: 'Lighting installations',
      },

      {
        title: 'Remedial work',
      },
      {
        title: 'Energy saving devices',
      },

    ]}
    image={{
      src: import('~/assets/images/rewire.webp'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Internal</h3>
      Where necessary we can provide these services to river side properties requiring access from the water
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Garden sheds',
      },
      {
        title: 'Out houses  ',
      },
      {
        title: 'Home offices',
      },
      {
        title: 'Jacuzzis',
      },
      {
        title: 'Saunas',
      },
      {
        title: 'Garden lighting',
      },
      {
        title: 'Garden heating',
      },
      {
        title: 'Driveway lighting',
      },
      {
        title: 'Decking and other external living areas',
      },
    ]}
    image={{
      src: import('~/assets/images/outdoor.jpg'),
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">External Electrical Installations </h3>
      External electrical installations to Garden sheds, Out houses, Garden lighting, Driveway lighting, Decking areas and External living Areas
    </Fragment>

  </Content>
  <!-- Steps Widget ****************** -->


  <!-- Features2 Widget ************** -->

  <Features2
    title="Car charging"
    subtitle="We have a passion for helping homeowners make the most of cheaper environmentally friendly driving."
    highlight=""
    items={[
      {
        title: 'We have a passion for helping homeowners make the most of cheaper environmentally friendly driving.',
        icon: 'flat-color-icons:home',
      },
      {
        title: 'Our fully qualified engineers install car charging ports for all makes and models of vehicles.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'We are registered to install Rolec, Pod Point and Zappi car charging units.',
        icon: 'flat-color-icons:todo-list',
      },
    ]}
  />


  <CarouselWithButtons/>
  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Duis turpis dui, fringilla mattis sem nec, fringilla euismod neque. Morbi tincidunt lacus nec tortor scelerisque pulvinar."
    highlight="FAQs"
    items={[
      [
        {
          question: 'What do I need to start?',
          answer:
            'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
        },
        {
          question: 'How to install the Astro + Tailwind CSS template?',
          answer:
            "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.",
        },
        {
          question: "What's something that you don't understand?",
          answer:
            "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
        },
      ],
      [
        {
          question: "What's an example of when you changed your mind?",
          answer:
            "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
        },
        {
          question: 'What is something that you would like to try again?',
          answer:
            "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
        },
        {
          question: 'If you could only ask one question to each person you meet, what would that question be?',
          answer:
            "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    items={[
      { name: 'Downloads', value: '132K' },
      { name: 'Stars', value: '24.8K' },
      { name: 'Forks', value: '10.3K' },
      { name: 'Users', value: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Get template',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">
      Astro + <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
