---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Card from '~/components/widgets/Card.astro';
const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{ src: import('~/assets/images/logo.webp'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Electrical specialists <span class="hidden lg:inline"><br class="2xl:hidden"/></span>
      serving surrey and surrounding areas.
    </Fragment>

  </Hero>

  <Features
    highlight=""
    title="Full electrical service for all domestic and commercial properties.    "
    items={[
      [
        {
          title: 'Our qualified engineers work to regulation standards in design, installation and NICEIC Certification.',
          description:
            'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
          icon: 'tabler:bulb',
        },
      ],
      [
        {
          title: 'We believe customer satisfaction and their recommendations to others is key to our business',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:bulb',
        },
      ],
      [
        {
          title: 'We are open and transparent with our clients and we take great pride in the standard of our work.',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:bulb',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    highlight=""
    title="Full domestic electrical services "
    items={[
      {
        title: 'Domestic rewires ',
      },
      {
        title: 'Consumer unit chargers',
      },
      {
        title: 'Periodic tests and inspections',
      },

      {
        title: 'Lighting installations',
      },

      {
        title: 'Remedial work',
      },
      {
        title: 'Energy saving devices',
      },

    ]}
    image={{
      src: import('~/assets/images/rewire.webp'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Internal</h3>
      Where necessary we can provide these services to river side properties requiring access from the water
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Garden sheds',
      },
      {
        title: 'Out houses  ',
      },
      {
        title: 'Home offices',
      },
      {
        title: 'Jacuzzis',
      },
      {
        title: 'Saunas',
      },
      {
        title: 'Garden lighting',
      },
      {
        title: 'Garden heating',
      },
      {
        title: 'Driveway lighting',
      },
      {
        title: 'Decking and other external living areas',
      },
    ]}
    image={{
      src: import('~/assets/images/outdoor.jpg'),
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">External Electrical Installations </h3>
      External electrical installations to Garden sheds, Out houses, Garden lighting, Driveway lighting, Decking areas and External living Areas
    </Fragment>

  </Content>
  <!-- Steps Widget ****************** -->


  <!-- Features2 Widget ************** -->

  <Features2
    title="Car charging"
    subtitle="We have a passion for helping homeowners make the most of cheaper environmentally friendly driving."
    highlight=""
    items={[
      {
        title: 'We have a passion for helping homeowners make the most of cheaper environmentally friendly driving.',
        icon: 'flat-color-icons:home',
      },
      {
        title: 'Our fully qualified engineers install car charging ports for all makes and models of vehicles.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'We are registered to install Rolec, Pod Point and Zappi car charging units.',
        icon: 'flat-color-icons:todo-list',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
			Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
			Astro is a very interesting technology. Thanks.
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  />
</Layout>
